/* CSS declarations go here */

.user_avatar{
	min-height:100px;
	text-align: center;

}
.avatar_img{
	height:75px;
}

.avatar-small {
	/*height: 30px;*/
	width: 38px;
}

.blue {
/*	color: #214852;*/
	color: #31698a;
}